tuples are ordered collections of items that are immutbe.  they are similar to list, but their immutability amkes them different.

In [1]:
## creating  tuple
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))  # Output: <class 'tuple'>

()
<class 'tuple'>

In [3]:
lst=list()
print(type(lst))  # Output: <class 'list'>
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [4]:
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [5]:
mixed_tuple=(1,"hello world",3.14,True)
print(mixed_tuple)

(1, 'hello world', 3.14, True)

In [7]:
numbers=(1,2,3,4,5)
concatenation_tuple=numbers+mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 1, 'hello world', 3.14, True)

In [8]:
mixed_tuple*3

(1,
 'hello world',
 3.14,
 True,
 1,
 'hello world',
 3.14,
 True,
 1,
 'hello world',
 3.14,
 True)

In [9]:
mixed_tuple*10

(1,
 'hello world',
 3.14,
 True,
 1,
 'hello world',
 3.14,
 True,
 1,
 'hello world',
 3.14,
 True,
 1,
 'hello world',
 3.14,
 True,
 1,
 'hello world',
 3.14,
 True,
 1,
 'hello world',
 3.14,
 True,
 1,
 'hello world',
 3.14,
 True,
 1,
 'hello world',
 3.14,
 True,
 1,
 'hello world',
 3.14,
 True,
 1,
 'hello world',
 3.14,
 True)

In [10]:
numbers*3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [14]:
## immutable nature of tuples
# Tuples are immutable, meaning their elements cannot be changed after creation.

lst = [1, 2, 3,4,5]
print(lst)

lst[1]="sagar"
print(lst)

[1, 2, 3, 4, 5]
[1, 'sagar', 3, 4, 5]

In [ ]:
##tuple methods
print(numbers.count(1))  # Output: 1
print(numbers.index(3))  # Output: 1  index is the function

1
2

In [ ]:
## packing and unpacking tuples
#packing
packed_tuple = (1, "hello", 3.14)
print(packed_tuple)

(1, 'hello', 3.14)

In [18]:
#unpacking
a, b, c = packed_tuple
print(a)
print(b)
print(c)

1
hello
3.14

In [19]:
## unpacking with *
numbers=(1,2,3,4,5,6)
first, *middle, last = numbers
print(first)  
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [23]:
## nested tuples
list=[[1,2,3],[4,5,6],["hello",30,4,"c"]]
list[0]
list[2]

['hello', 30, 4, 'c']

In [24]:
list[1]

[4, 5, 6]