SQL AND SQLite

SQL(Structured Query Language) is a standard language for managing and manipulating relational databases. SQLite is a self-contained, serverless, and zero-configuration database enginer that is widely used for embedded database systems. In this lesson, we will cover the basic of SQL nad SQLite, including creating databases, tables, and performing various SQL operations.

In [22]:
import sqlite3

In [23]:
## connect to an SQLite database
connection=sqlite3.connect('example.db')
connection

In [24]:
cursor=connection.cursor()

In [25]:
## crete a table

cursor.execute('''CREATE TABLE IF NOT EXISTS employees
                  (id INTEGER PRIMARY KEY,
                     name TEXT NOT NULL,
                     age INTEGER,
                     department TEXT);''')

## commit the changes
connection.commit()

In [26]:
cursor.execute('''
             select * from employees;
''')

In [27]:
## insert data into the table

cursor.execute('''
             insert into employees (name, age, department)
                values ('Alice', 30, 'HR');
''')

cursor.execute('''
             insert into employees (name, age, department)
                values ('Ajeeb sagar', 21, 'HR');
''')
cursor.execute('''
             insert into employees (name, age, department)
                values ('Ankit', 22, 'HR');
''')
cursor.execute('''
             insert into employees (name, age, department)
                values ('Amit', 34, 'HR');
''')
cursor.execute('''
             insert into employees (name, age, department)
                values ('Alive', 36, 'HR');
''')

## commit the changes
connection.commit()

In [28]:
## Query data from the table
cursor.execute('''
             select * from employees;
''')

rows=cursor.fetchall()
## print the queries data

for row in rows:
    print(row)

(1, 'Alice', 31, 'HR')
(2, 'Ajeeb sagar', 21, 'HR')
(3, 'Ankit', 22, 'HR')
(5, 'Alive', 36, 'HR')
(6, 'Alice', 30, 'HR')
(7, 'Ajeeb sagar', 21, 'HR')
(8, 'Ankit', 22, 'HR')
(9, 'Amit', 34, 'HR')
(10, 'Alive', 36, 'HR')

In [29]:
## update data in the table
cursor.execute('''
             update employees   
                set age=31
                where name='Alice';     
''')
## commit the changes
connection.commit()

In [30]:
## Query data from the table
cursor.execute('''
             select * from employees;
''')

rows=cursor.fetchall()
## print the queries data

for row in rows:
    print(row)

(1, 'Alice', 31, 'HR')
(2, 'Ajeeb sagar', 21, 'HR')
(3, 'Ankit', 22, 'HR')
(5, 'Alive', 36, 'HR')
(6, 'Alice', 31, 'HR')
(7, 'Ajeeb sagar', 21, 'HR')
(8, 'Ankit', 22, 'HR')
(9, 'Amit', 34, 'HR')
(10, 'Alive', 36, 'HR')

In [31]:
## Delete data from the table
cursor.execute('''
             delete from employees
                where name='Amit';     
''')    
## commit the changes
connection.commit()

In [32]:
## Query data from the table
cursor.execute('''
             select * from employees;
''')

rows=cursor.fetchall()
## print the queries data

for row in rows:
    print(row)

(1, 'Alice', 31, 'HR')
(2, 'Ajeeb sagar', 21, 'HR')
(3, 'Ankit', 22, 'HR')
(5, 'Alive', 36, 'HR')
(6, 'Alice', 31, 'HR')
(7, 'Ajeeb sagar', 21, 'HR')
(8, 'Ankit', 22, 'HR')
(10, 'Alive', 36, 'HR')

In [33]:
##working with sales data

## connect to an SQLite database
connection=sqlite3.connect('sales.db')
cursor=connection.cursor()

## create a table for sales data
cursor.execute('''CREATE TABLE IF NOT EXISTS sales
                  (id INTEGER PRIMARY KEY,
                     product_name TEXT NOT NULL,
                     date TEXT NOT NULL,
                     quantity INTEGER,
                     price REAL,
                     region TEXT,
                     sale_date TEXT);''')


## insert data into the sales table
sales=[
    ('Laptop', '2023-10-01', 5, 800.00, 'North', '2023-10-05'),
    ('Smartphone', '2023-10-02', 10, 500.00, 'South', '2023-10-06'),
    ('Tablet', '2023-10-03', 7, 300.00, 'East', '2023-10-07'),
    ('Headphones', '2023-10-04', 15, 100.00, 'West', '2023-10-08'),
    ('Smartwatch', '2023-10-05', 8, 200.00, 'North', '2023-10-09')
]

cursor.executemany('''
             insert into sales (product_name, date, quantity, price, region, sale_date)
                values (?, ?, ?, ?, ?, ?);
''', sales)





## insert sample sales data
cursor.execute("INSERT INTO sales (product_name, date, quantity, price, region, sale_date) VALUES ('Laptop', '2023-10-01', 5, 800.00, 'North', '2023-10-05');")
cursor.execute("INSERT INTO sales (product_name, date, quantity, price, region, sale_date) VALUES ('Smartphone', '2023-10-02', 10, 500.00, 'South', '2023-10-06');")
cursor.execute("INSERT INTO sales (product_name, date, quantity, price, region, sale_date) VALUES ('Tablet', '2023-10-03', 7, 300.00, 'East', '2023-10-07');")
cursor.execute("INSERT INTO sales (product_name, date, quantity, price, region, sale_date) VALUES ('Headphones', '2023-10-04', 15, 100.00, 'West', '2023-10-08');")
cursor.execute("INSERT INTO sales (product_name, date, quantity, price, region, sale_date) VALUES ('Smartwatch', '2023-10-05', 8, 200.00, 'North', '2023-10-09');")

## commit the changes
connection.commit()

In [35]:
## Query data from the table
cursor.execute('''
             select * from sales;
''')

rows=cursor.fetchall()
## print the queries data

for row in rows:
    print(row)

(1, 'Laptop', '2023-10-01', 5, 800.0, 'North', '2023-10-05')
(2, 'Smartphone', '2023-10-02', 10, 500.0, 'South', '2023-10-06')
(3, 'Tablet', '2023-10-03', 7, 300.0, 'East', '2023-10-07')
(4, 'Headphones', '2023-10-04', 15, 100.0, 'West', '2023-10-08')
(5, 'Smartwatch', '2023-10-05', 8, 200.0, 'North', '2023-10-09')
(6, 'Laptop', '2023-10-01', 5, 800.0, 'North', '2023-10-05')
(7, 'Smartphone', '2023-10-02', 10, 500.0, 'South', '2023-10-06')
(8, 'Tablet', '2023-10-03', 7, 300.0, 'East', '2023-10-07')
(9, 'Headphones', '2023-10-04', 15, 100.0, 'West', '2023-10-08')
(10, 'Smartwatch', '2023-10-05', 8, 200.0, 'North', '2023-10-09')
(11, 'Laptop', '2023-10-01', 5, 800.0, 'North', '2023-10-05')
(12, 'Smartphone', '2023-10-02', 10, 500.0, 'South', '2023-10-06')
(13, 'Tablet', '2023-10-03', 7, 300.0, 'East', '2023-10-07')
(14, 'Headphones', '2023-10-04', 15, 100.0, 'West', '2023-10-08')
(15, 'Smartwatch', '2023-10-05', 8, 200.0, 'North', '2023-10-09')
(16, 'Laptop', '2023-10-01', 5, 800.0, 'North', '2023-10-05')
(17, 'Smartphone', '2023-10-02', 10, 500.0, 'South', '2023-10-06')
(18, 'Tablet', '2023-10-03', 7, 300.0, 'East', '2023-10-07')
(19, 'Headphones', '2023-10-04', 15, 100.0, 'West', '2023-10-08')
(20, 'Smartwatch', '2023-10-05', 8, 200.0, 'North', '2023-10-09')
(21, 'Laptop', '2023-10-01', 5, 800.0, 'North', '2023-10-05')
(22, 'Smartphone', '2023-10-02', 10, 500.0, 'South', '2023-10-06')
(23, 'Tablet', '2023-10-03', 7, 300.0, 'East', '2023-10-07')
(24, 'Headphones', '2023-10-04', 15, 100.0, 'West', '2023-10-08')
(25, 'Smartwatch', '2023-10-05', 8, 200.0, 'North', '2023-10-09')
(26, 'Laptop', '2023-10-01', 5, 800.0, 'North', '2023-10-05')
(27, 'Smartphone', '2023-10-02', 10, 500.0, 'South', '2023-10-06')
(28, 'Tablet', '2023-10-03', 7, 300.0, 'East', '2023-10-07')
(29, 'Headphones', '2023-10-04', 15, 100.0, 'West', '2023-10-08')
(30, 'Smartwatch', '2023-10-05', 8, 200.0, 'North', '2023-10-09')